{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a class = "text-decoration-none text-dark fw-bold" href="{{ path('app_article_index') }}">Revenir à la liste</a>
{% endblock %}
